h1{
    font-size:30px;
    font-family: cursive;
    color: red;
    text-align: center;
}
nav{
    background-color: burlywood;
    padding: 15px;
    border: 10px double red;
}
nav a{
    background-color:red ;
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
    color:yellow;
    margin:70px;
}
header{
    background-color:yellow;
}
body{
    background-color:yellow;
}
p{
    font-size:30px;
}
footer a{
    font-size:30px;
}
img{
    border:5px solid red;
}
h2{
    text-align: center;
}
